<h1>Word Counter</h1>
  <form action="/count">
    <div class ="form-group">
      <label for="target_word">Word</label>
      <input id="target_word" name="target_word" class="form-control" type="text">
    </div>
    <div class ="form-group">
      <label for="sentence">Phrase</label>
      <input id="sentence" name="sentence" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Count</button>
  </form>
